html {
	background: url("images/Pwdr-background.png") repeat-y  top;
	min-width: 900px;
}

@font-face {
    font-family: 'ITCOfficinaSerifStdBookRg';
    src: url('fonts/officinaserifstd-book-webfont.eot');
    src: url('fonts/officinaserifstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/officinaserifstd-book-webfont.woff') format('woff'),
         url('fonts/officinaserifstd-book-webfont.ttf') format('truetype'),
         url('fonts/officinaserifstd-book-webfont.svg#ITCOfficinaSerifStdBookRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6,pre,body,p,div,a{
	font-family: "ITCOfficinaSerifStdBookRg";
	color: #333333;
}

h1, h2{
	margin-top: 35px;
}

p {
	font-size: 17px;
}

a{
	color: black;
	text-decoration: underline;
}

a:hover{
	color: grey;
}

blockquote{
	font-style: italic;
	color: grey;
	border-left: grey dotted 1px;
	margin: 25px 0px 25px -10px;
	padding-left: 10px;
}

#main {
	width: 900px;
	margin: 0 auto;
}

header{
	float: left;
	width: 300px
	height: 1080px;
	text-align: center;
}

header img{
	padding: 30px 30px 40px 70px;
}

header ul{
	list-style: none;
}

header li{
	height: 26px;
	padding: 10px 0 2px 0;
	background: url("images/Pwdr-dots.png") no-repeat  bottom;
	text-align: center;
}

header li a{
	text-transform:uppercase;
	text-decoration: none;
	font-weight: 600;
	color: #666666;
}

header li a:hover{
	color: grey;
}

hgroup{
	width: 580px;
	float: right;
}

hgroup img{
	margin: 20px 0 25px 0;
}

hgroup li{
	list-style-type:square;
	margin-left: -20px;
}

footer{
	font-size: 13px;
	text-align: center;
	font-style: italic;
	margin-top: 100px;
}